.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}
.flag {
  width:900px;
  height:600px;
  margin:auto;
}

.stripe {
    height:100%;
    width:33.33%;
    float:left;
}

.white {
    background-color: #FFFFFF;
}

.green {
    background-color: #009344;
}
.red {
    background-color: #CF2734;
}
