.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}
.flag {
    height:750px;
    width:650px;
    margin:auto;
 
}

.stripe {
    height:100%;
    width:33.33%;
    float:left;
}

.red {
    background:#EF3340;
}

.black {
    background:	#000000;
}
.yellow {
    background:#FDDA24;
}
