.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}
.flag {
  width:500px;
  height:300px;
  margin:auto;
  border:1px solid black;
}

.square {
    width:100%;
    height:40%;
}



.blue {
    background:#002D62;
}

.white {
    background:#FFFFFF;
    height:20%;
    width:100%;
}

.whitee {
    background:#FFFFFF;
    width:15%;
    height:250%;
    margin: 0px 0px 0px 210px;
    position:relative;
}

.red {
    background:#CE1126;
}
 img {
    width:75px;
    height:70px;
    margin:110px 0px 0px 0px
 }




